*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#navSection
{
    height: 80px;
    width: 100%;
    /*border: 2px solid red;*/
    background-color: black;

}
#navArticle
{
    height: 80px;
    width: 88%;
    /*border: 2px solid green;*/
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
#navLogo
{
    height: 80px;
    width: 132px;
    /*border: 2px solid orange;*/
    padding-top: 15px;
    color:white;
}
#navmenu
{
    height: 80px;
    width: 492px;
    /*border: 2px solid darkorchid;*/
    justify-content: space-between;
}
#navmenulist
{
    list-style-type: none;
    padding-top: 27px;
    justify-content: space-between;
    display: flex;

}
#navmenulist li a
{
    text-decoration: none;
    font-weight: 700;
    color: white;
    font-size: 15.4px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}
#navLogo svg
{
    fill: white;

}
#navmenulist li
{
    color: white;
}
#navmenulist li a:hover
{
    color: green;

}
#homeScetion
{
    height: 600px;
    width: 100%;
    /*border: 2px solid orange;*/
    background-image: url(https://www.scdn.co/i/free/bubbles-dktp.svg);
    background-color: blueviolet;

}
#homeArticle
{
    height: 600px;
    width: 80%;
    /*border: 2px solid blue;*/
    display: flex;
    margin: 0 auto;
}
#homediv1
{
    height: 600px;
    width: 40%;
    /*border: 2px solid green;*/
}
#homediv2
{
    height: 600px;
    width: 60%;
    /*border: 2px solid black;*/
    padding-left: 50px;
}
#homediv1 svg
{
    height: 700px;
    width: 370px;
    position: absolute;
    padding-top: 91px;
    padding-left: 70px;

}
#homediv1 img
{
    height: 445px;
    width: 267px;
    position: relative;
    top:150px;
    left:85px;
}
#homepara
{
    font-size: 60px;
    font-style: inherit;
    padding-top: 170px;
    color: white;
}
button
{
    border-radius: 30px;
    width: 170px;
    height: 50px;
    border-color: blueviolet;
    font-style: inherit;
}
#listSection
{
    height: 550px;
    width: 100%;
    /*border: 3px solid red;*/
    display: flex;
}
#listArticle
{
    height: 100px;
    width: 100%;
    /*border: 3px solid green;*/
    font-size: 40px;
    padding-top: 40px;
}
#listdiv
{
    height: 450px;
    width: 100%;
    /*border: 2px solid green;*/
    display: flex;
    padding-top: 50px;
    justify-content: space-evenly;

}
#listdiv0
{
    height: 300px;
    width: 300px;
    /*border: 2px solid yellow;*/
    background-image: url(https://i.scdn.co/image/ab671c3d0000f430678067184805befd38aa0f57);
    background-repeat: no-repeat ;
    background-position: center;

}
#listdiv1
{
    height: 300px;
    width: 300px;
    /*border: 2px solid blue;*/
    background-image: url(https://i.scdn.co/image/ab671c3d0000f430a6f822749d5c25c32ee31d66);
    background-repeat: no-repeat;
    background-position: center;
    
}
#listdiv2
{
    height: 300px;
    width: 300px;
    /*border: 2px solid orange;*/
    background-image: url(https://i.scdn.co/image/ab671c3d0000f430eb43023b5332389f5094530d);
    background-repeat: no-repeat;
    background-position: center;
   
}
#listdiv3
{
    height: 300px;
    width: 300px;
/*border: 2px solid gray;*/
    background-image: url(https://i.scdn.co/image/ab671c3d0000f4309430062bc28461dc8fbde6bc);
    background-repeat: no-repeat;
    background-position: center;
    
}
h6{
    padding-top: 250px;
}
.listPara1
{
    font-size: 20px;
    
}
#freeSection
{
    height:500px;
    width: 100%;
    /*border: 2px solid red;*/
    background: rgb(173,47,193);
    background: linear-gradient(0deg, rgba(173,47,193,1) 0%, rgba(15,41,157,1) 100%);
}
#freePara1
{
    font-size: 50px;
    padding-left: 480px;
    padding-top: 220px;
    color: white;
}
#lastSection
{
    height: 500px;
    width: 100%;
    /*border: 2px solid red;*/
    /*padding-left: 480px;*/
    padding-top: 220px;
    background-image: url(https://www.scdn.co/i/free/lets-play.svg);
    background: rgb(173,47,193);
    background: linear-gradient(0deg, rgba(173,47,193,1) 0%, rgba(15,41,157,1) 100%);

}
#cenPara
{
    font-size: 70px;
    color: white;
}
#lastbutton
{
    border-radius: 30px;
    width: 170px;
    height: 50px;
    border-color: violet;
    font-style: inherit;
}
#footerScetion
{
    height: 554px;
    width: 100%;
    /*border: 2px solid red;*/
    display: flex;
    background-color: black;
}
#innerfooter
{
    height: 424px;
    width: 80%;
    /*border: 2px solid blue;*/
    margin: 70px auto;
}
#innerdiv1
{
    height: 346px;
    width: 100%;
    /*border: 2px solid gray;*/
    display: flex;
    
}
#footerdiv1
{
    height: 100%;
    width: 15%;
    /*border: 2px solid yellow;*/
}
#footerdiv1 svg
{
    fill: white;
}
#footerdiv2

{
    height: 100%;
    width: 45%;
    /*border: 2px solid black;*/
    display: flex;
}
#footerdiv3
{
    height: 100%;
    width: 40%;
    /*border: 2px solid lime;*/
    display: flex;
}
#innerdiv2
{
    height: 39px;
    width: 100%;
    /*border: 2px solid lightcoral;*/
}
#innerdiv3
{
    height: 39px;
    width: 100%;
    /*border: 2px solid lightskyblue;*/
}
#divdiv1
{
    height: 100%;
    width: 30%;
    /*border: 2px solid red;*/
    color: gray;
}
#divdiv2
{
    height: 100%;
    width:40% ;
    /*border: 2px solid red;*/
    color: gray;
}
#divdiv3
{
    height: 100%;
    width: 30%;
    /*border: 2px solid red;*/
    color: gray;
}
#divdiv4
{
    height: 100%;
    width: 50%;
    /*border: 2px solid black;*/
}
#divdiv5
{
    height: 100%;
    width: 50%;
    /*border: 2px solid red;*/
}
#listcom
{
    list-style: none;
}
#listcom li a
{
    text-decoration: none;
    color: white;

}
#listcom li a:hover
{
    color: green;
}
#listcomm
{
    list-style: none;
}
#listcomm li a
{
    text-decoration: none;
    color: white;

}
#listcomm li a:hover
{
    color: green;
}
#listuse
{
    list-style: none;
}
#listuse li a
{
    text-decoration: none;
    color: white;

}
#listuse li a:hover
{
    color: green;
}
#listlegal
{
    display: flex;
    list-style: none;
}
#listlegal li a
{
    text-decoration: none;
    color: gray;

}
#listlegal li a:hover
{
    color: green;
}
#spot
{
    padding-left: 1078px;
}
#spot li a
{
    text-decoration: none;
}
#english
{
    padding-left: 1089px;
}
#english li a
{
    text-decoration:none;
}
#media
{
    font-size: 40px;
    color: white;
}

#media li a:hover
{
    color:green;
}